/* ------------------------------------------ */
/* GLOBAL */

:root {
  --white: rgba(240, 240, 240, 1);
  --darkGrey: rgba(50, 50, 50, 1);
  --lightGrey: rgba(200, 200, 200, 1);
}

body {
  background-color: var(--darkGrey);
  padding: 12px;
}

/* ------------------------------------------ */
/* HEADER SECTION */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* ------------------------------------------ */
/* FORM SECTION */
.form {
  display: flex;
  gap: 20px;
}

.form__input {
  width: 150px;
  height: 30px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
}

/* ------------------------------------------ */
/* MAIN SECTION */
.main {
  display: flex;
  justify-content: center;
  padding: 16px;
}

/* ------------------------------------------ */
/* GRID SECTION */
.grid {
  display: flex;
  width: 750px;
  height: 750px;
  background-color: var(--white);
}

.square {
  border: 1px solid black;
  box-sizing: border-box;
  background-color: var(--white);
}

/* ------------------------------------------ */
/* COLOR SECTION */
.color__picker {
  color: var(--white);
  margin-left: 50px;
}

.color__picker:hover {
  color: var(--lightGrey);
  cursor: pointer;
}

.color__picker-text {
  font-family: sans-serif;
  font-size: 24px;
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 15px;
}
